.color {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 1px;
    border-radius: 10px;
    border: 1px solid #616161;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#red {
    background-color: red;
}
#green {
    background-color: green;
}
#blue {
    background-color: blue;
}
#yellow {
    background-color: yellow;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.active {
    opacity: 0.5;
}